<nav class="header">
  <ul>
    <li><a href="/">Home</a></li> 
    <li><a href="/event/popular">Popular Events</a></li>
  <% if (typeof user != undefined) { %>
     <li><a href="/user/logout?_method=DELETE">Logout</a></li>
  <% } else { %>
     <li><a href="/user/login">Login</a></li>
     <li><a href="/user/new">New User</a></li>
  <% } %>
  </ul>
</nav>