<!DOCTYPE html>
<html>
  <% include ./partials/head %>
<body>
  <% include ./partials/header %>

  <h1>
  <% if(user) { %>
   Welcome, <%= user.firstName %> <% user.lastName %>
 <% } else { %> 
  Welcome, Guest
  <% } %>
  </h1>

  <button type="submit" class="testButton">Test</button>

  <div id="testDiv">
  </div>

 <form action="#" method="post" id="eventSearchForm" >
    <select class="browser-default" name="category" id="category-select">
      <option value="" selected>Choose a category</option>
      <% categories.forEach( function(category){ %>
      <option value="<%=category.key%>" > <%=category.desc%></option>
      <% }) %>
    </select>
    <input type="text" name="location" placeholder="Location" id="location-input">
    
     <button type="submit" id="search-button">Search</button>
  </form>

  <div id="search-results">
  </div>

</body>
</html>