<!DOCTYPE html>
<html>
  <% include ./partials/head %>
<body>
  <% include ./partials/header %>

 <div class="content">

 <h1>Search events by category and location</h1>

 <form action="#" method="post" id="eventSearchForm" >
    <select class="browser-default" name="category" id="category-select">
      <option value="" selected>Choose a category</option>
      <% categories.forEach( function(category){ %>
      <option value="<%=category.key%>" > <%=category.desc%></option>
      <% }) %>
    </select>
    <input type="text" name="location" placeholder="Location" id="location-input">
    
     <button type="submit" id="search-button">Search</button>
  </form>

  <div id="search-results">
  </div>

</div>
</body>
</html>