<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>

<div class="centered">
  <% if ( (typeof message !== 'undefined') && message) { %>
    <h1><%= message %></h1>
  <% } %>
  <form action="/user/login" method="post" class="auth-form">
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <button type="submit" value="Login" class="auth-button">Login</button>
  </form>

  </div>

</body>
</html>